<%- include("../layouts/header"); -%>
    <table class="table table-dark table-striped">
        <thead>
            <tr>
                <th>Name of user</th>
                <th>CartAbandon</th>
            </tr>
        </thead>
        <tbody>
            <% user.forEach(e=>{ %>
                <tr>
                    <td>balajee</td>
                    <td>
                        <a href="/cart/all?id=<%=e._id %>">check this user data.</a>
                    </td>
                </tr>

                <% }) %>

        </tbody>
    </table>
    <%- include("../layouts/footer"); -%>