<%- include("../layouts/header"); -%>
    <table class="table table-dark table-striped">
        <thead>
            <tr>
                <th>product</th>
                <th>user</th>
            </tr>
        </thead>
        <tbody>
            <% cart.forEach(e=>{ %>
                <tr>
                    <td>balajee</td>
                    <td>balajee</td>
                </tr>

                <% }) %>

        </tbody>
    </table>
    <%- include("../layouts/footer"); -%>