<%- include("../layouts/header"); -%>

    <div class="card">
        <div class="product">
            <a href="/admin/allproduct">All listed product</a>
            <hr>
        </div>
        <div class="category">
            <a href="/admin/category">Add a category</a>
            <hr>
        </div>
        <div class="portfolio">
            <a href="/portfolio">Add a portfolio</a>
            <hr>
        </div>
        <div class="webinar">
            <a href="/webinar">Add a webnar</a>
        </div>
        <hr>
        <div class="portfolio">
            <a href="/portfolio/all">all portfolio</a>
        </div>
        <hr>
        <div class="price">
            <a href="/price">Add price</a>
        </div>
        <hr>
        <div class="archive">
            <a href="/admin/archive">Archived</a>
        </div>
        <hr>
        <div class="cartAbandon">
            <a href="/admin/cartdata_to_no_purchase">cart_abandon</a>
        </div>
    </div>
    <%- include("../layouts/footer"); -%>