<%- include('layouts/header');%>

    <div class="container-fluid bg-soft-primary my-5 py-7">
        <h1 class="text-center text-secondary">404, <%= msg %>
        </h1>
    </div>

    <%- include('layouts/footer');%>