<!DOCTYPE html>
<html>

<head>
    <title>Buy cool new product</title>
    <link rel="stylesheet" href="/css/stripe_style.css">
    <script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch"></script>
    <script src="https://js.stripe.com/v3/"></script>
</head>

<body>
    <section>
        <form action="/payment/paymentwithstripe/create-checkout-session" method="POST">
            <div class="product">
                <img src="https://i.imgur.com/EHyR2nP.png" alt="The cover of Stubborn Attachments" />
                <div class="description">
                    <h3>your checkout product price::--->$<%=total %>
                    </h3>
                    <input type="hidden" name="totalprice" value="<%=total %>">
                </div>
            </div>
            <button type="submit" id="checkout-button">Checkout</button>
        </form>
    </section>
</body>

</html>