<%- include('./layouts/header'); -%>

    <div class="text-center mt-4">
        <form action="/user/forgetpassword" method="post">
            <label for="email">Enter Your Registered Email </label>
            <input type="email" name="email" id="email" placeholder="email" required autofocus>
            <button type="submit">Forget</button>
        </form>
        <div><a href="/user/login">Go back to Login</a></div>
    </div>

    <%- include('./layouts/footer'); -%>