<%- include('../layouts/header') %>

    <div class="container-fluid bg-soft-secondary px-sm-9 py-3 pt-sm-6 pb-sm-9">
        <div class="row justify-content-sm-center">
            <div class="col-md-6">
                <h1 class="mb-4">Change Password</h1>
                <form action="/user/changepassword" method="post">
                    <div class="mb-3">
                        <input type="password" id="name" name="currentpassword" class="form-control rounded-0" required
                            placeholder="Current Password" />
                    </div>
                    <div class="mb-3">
                        <input type="password" id="name" name="password" class="form-control rounded-0" required
                            placeholder="New Password" />
                    </div>
                    <div class="mb-3">
                        <input type="password" id="name" name="password2" class="form-control rounded-0" required
                            placeholder="Confirm Password" />
                    </div>
                    <button type="submit" class="btn btn-secondary">Change</button>
                    <a href="/user/dashboard" class="btn btn-outline-secondary">Go Back</a>
                </form>
            </div>
        </div>
    </div>

    <%- include('../layouts/footer') %>