<%- include('../layouts/header') %>

    <section class="container-fluid py-5">
        <div class="row">
            <div class="col col-3">
                <%- include('../partials/userSideBar') %>
            </div>
            <div class="col col-9">
                <hr />
                <div class="card">
                    <div class="row">
                        <p class="col-3 card-subtitle fs-2 mb-3">ProductId: </p>
                        <p class="col-9 card-subtitle fs-2 mb-3">#23856</p>
                    </div>
                    <div class="row">
                        <p class="col-3 card-subtitle fs-2 mb-3">Webinar Name: </p>
                        <p class="col-9 card-subtitle fs-2 mb-3">Lorem ipsum Lorem ipsum</p>
                    </div>
                    <div class="row">
                        <p class="col-3 card-subtitle fs-2 mb-3">Time & Duration: </p>
                        <p class="col-9 card-subtitle fs-2 mb-3">17:00 IST | 61 minutes</p>
                    </div>
                    <div class="row">
                        <p class="col-3 card-subtitle fs-2 mb-3">Date: </p>
                        <p class="col-9 card-subtitle fs-2 mb-3"> 19-07-2023 </p>
                    </div>
                    <div class="row">
                        <p class="col-3 card-subtitle fs-2 mb-3">Speaker: </p>
                        <p class="col-9 card-subtitle fs-2 mb-3">Lorem ipsum </p>
                    </div>
                    <div class="row">
                        <p class="col-3 card-subtitle fs-2 mb-3">Joining Link: </p>
                        <a class="col-2 nav-link card-subtitle fs-2 mb-3" href="#weminarId"> Click Here </a>
                    </div>

                </div>
                <hr />
                <div class="card">
                    <div class="row">
                        <p class="col-3 card-subtitle fs-2 mb-3">ProductId: </p>
                        <p class="col-9 card-subtitle fs-2 mb-3">#23856</p>
                    </div>
                    <div class="row">
                        <p class="col-3 card-subtitle fs-2 mb-3">Webinar Name: </p>
                        <p class="col-9 card-subtitle fs-2 mb-3">Lorem ipsum Lorem ipsum</p>
                    </div>
                    <div class="row">
                        <p class="col-3 card-subtitle fs-2 mb-3">Time & Duration: </p>
                        <p class="col-9 card-subtitle fs-2 mb-3">17:00 IST | 61 minutes</p>
                    </div>
                    <div class="row">
                        <p class="col-3 card-subtitle fs-2 mb-3">Date: </p>
                        <p class="col-9 card-subtitle fs-2 mb-3"> 19-07-2023 </p>
                    </div>
                    <div class="row">
                        <p class="col-3 card-subtitle fs-2 mb-3">Speaker: </p>
                        <p class="col-9 card-subtitle fs-2 mb-3">Lorem ipsum </p>
                    </div>
                    <div class="row">
                        <p class="col-3 card-subtitle fs-2 mb-3">Joining Link: </p>
                        <a class="col-2 nav-link card-subtitle fs-2 mb-3" href="#weminarId"> Click Here </a>
                    </div>

                </div>
                <hr />

            </div>
        </div>
    </section>


    <%- include('../layouts/footer') %>