<%- include("../layouts/header"); -%>
    <%= userdata %>
        <hr>
        <div class="card">
            <a href="/user/dashboard/purchase_history">purchase history</a>
        </div>
        <%- include("../layouts/footer"); -%>